body {
  background: blue; }

.wrapper {
  font-size: 18px;
  color: #333;
  padding: 50px;
  height: calc( 100vh - 200px);
  width: 80%;
  margin: 0 auto;
  margin-top: 50px;
  border-radius: 5px;
  background: whitesmoke; }
  .wrapper h1 {
    text-align: center; }
  .wrapper h2 {
    margin-top: 100px;
    margin-left: 50px; }
  .wrapper ul {
    margin-left: 50px;
    list-style: none;
    width: 60%; }
    .wrapper ul li {
      line-height: 50px;
      margin-bottom: 10px;
      background: #eee;
      padding-left: 15px; }
      .wrapper ul li a {
        color: green; }
        .wrapper ul li a:hover {
          color: red; }

.blog__read-more, .blog__read-more--unavailable {
  background: black;
  padding: 10px;
  display: block; }

.blog {
  width: 80vw;
  margin: 0 auto; }
  .blog__h1 {
    color: blue; }
  .blog__p {
    color: gray; }
    .blog__p__a {
      color: red; }
  .blog__read-more {
    color: white; }
    .blog__read-more--unavailable {
      color: gray;
      cursor: not-allowed; }
