body {
    background: $main-color;
}

.wrapper {
	font-size: 18px;
	color: #333 ;   
	padding: 50px;
	height: calc( 100vh - 200px );	
	width: 80%;
	margin: 0 auto;
	margin-top: 50px;
	border-radius: 5px;
	background: whitesmoke;

	h1 {
		text-align: center;
	}
	h2 {
		margin-top: 100px;
		margin-left: 50px
	}
	ul {
		margin-left: 50px;
		list-style: none;
		width: 60%;
		li {
			line-height: 50px;
			margin-bottom: 10px;
			background: #eee;
            padding-left: 15px;
            
            a {
                color: green;

                &:hover {
                    color: red;
                }
            }

		}
	}

}       

// %button {
//     background: black;
//     padding: 10px;
//     display: block;
// }

@mixin button($color: white) {
    background: black;
    padding: 10px;
    display: block;
    color: $color;
}

.blog {
    width: 80vw;
    margin: 0 auto;

    &__h1 {
        color: $main-color;
    }
    &__p {
        color: gray;
        &__a {
            color: red;
        }
    }
    &__read-more {
        //@extend %button;
        @include button;
        &--unavailable {
            //@extend %button;
            @include button(gray);
            cursor: not-allowed;
        }
    }
}